include ../partials/header
.row
        .col-md-6.dell_index
            #{error}
            if(error)
                each err in error
                    .alert.alert-danger #{err} 
           
            form(method="post" action="/scan")
                .form-group
                    label IP address
                    input.form-control(type='ip', placeholder='Enter IP address',required name="ip" value=`${(ip)?ip:''}`)
                .form-group
                    label Port number
                    input.form-control(type='number', placeholder='Enter Port number',required name="port"  value=`${(port)?port:''}`)
                button.btn.btn-primary(type='submit') Scan
if(devices && devices.length > 0)
    .row
            .col-md-6(style="overflow-x: auto")
                table.table(style="overflow: scroll;")
                    thead.thead-dark
                        tr
                            th(scope='col') IP Address
                            th(scope='col') View
                            th(scope='col') Edit
                            th(scope='col') Delete
                        each device in devices
                            tr
                                td #{device.ip}
                                td 
                                    button.btn.btn-default(onclick=`device('${JSON.stringify(device)}')`) 
                                        i.fa.fa-eye(style="color:#007bff")
                                td
                                    a.btn.btn-default(href=`/edit/${device._id}`)
                                        i.fa.fa-edit(style="color:green")
                                td
                                    a.btn.btn-default(href=`/delete/${device._id}`)
                                        i.fa.fa-trash(style="color:red;")


.modal#Details_modal(tabindex='-1', role='dialog')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                h5.modal-title
                button.closemodal(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
            .modal-body
                table.table
                    thead#device_details
                        
                        
            .modal-footer
                button.btn.btn-secondary.closemodal(type='button', data-dismiss='modal') Close


include ../partials/footer
